body{
  background-color: rgb(209, 206, 206);;
  margin: 0%;
}
*{font-family:'Montserrat', sans-serif;}

.fondo{
    background-color: cornflowerblue;
    height: 70px;
    width: 100%;
}
.fondo-img{
    height: 30px;
    width: 100px;
    margin: 20px;
    margin-left: 80px;
}
.fondo-INPUT{
    background-color:white;
    color: cornflowerblue;
    border-radius: 10px;
    padding: 8px 12px;
    border: none;
    outline: none;
    cursor: pointer;
    float: right;
    margin: 20px;
    margin-right: 60px; 
}
.datos-personales{
    width: auto;
    margin: 50px;
    background-color: white;
    border-radius: 10px;
    border-color: grey;
    border-width:thin thick;
    padding: 20px;
}
.perfil-img{
    width: 200px;
    height: 200px;
    margin: auto;
    margin-left: 50px;
    border-radius: 50%;
    border: 3px solid #6495ed;
    padding: 3px;
}
.informacion{
    display: inline-block;
    font-size: 16px;
    line-height: 0,05px;
    content: inherit;
    margin: auto;
    margin-left:20px ;
    width: 67%;
}
  .boton-seguir{
    background-color: cornflowerblue; 
    color:white; 
    border-radius: 10px; 
    padding: 12px 24px; 
    border: none; 
    outline: none; 
    cursor: pointer; 
    float: right;
    margin: 20px;
}
.publicacion{
    float: left;
    width: 45%;
    line-height: 0,05px;
    margin-left: 50px;
    margin-right: 10px; ;
    background-color: white;
    border-radius: 10px;
    border-color: grey;
    border-width:thin thick;
    padding: 20px;

  }
.ciudad-img{
    object-fit: cover;
    width:100%;
    border-radius: 10px;
    margin-top: 15px;
  }
.megusta{
    background-color:cornflowerblue;
    color: white;
    border-radius: 10px;
    padding: 8px 12px;
    border: none;
    outline: none;
    cursor: pointer;
    float: left;

  }
.comentInput{
    background-color:rgb(233, 230, 230);
    color: rgb(122, 120, 120); 
    border: none;
    font-size: 16px;
    height: auto;
    outline: 0;
    padding: 8px 12px;
    width: 75%;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.03) inset;
    border-radius: 10px;
    float: left;
    
}
.enviar-btn{
    background-color:cornflowerblue; 
    color: white; 
    border-radius: 10px; 
    padding: 8px 12px; 
    border: none; 
    outline: none; 
    cursor: pointer; 
    float: right;
    margin: 5px;
    font-size: 16px;
    
}
.sobremi{
    float: right;
    width:40%; 
    margin: auto;
    background-color: white;
    border-radius: 10px;
    padding: 20px;
  }
.comentario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
  
.nombre {
    font-weight: bold;
    margin-right: 10px;
 }
  
.contenido {
    flex-grow: 1;
    margin-right: 10px;
 }
.boton-eliminar{
    background-color:rgb(171, 182, 204); 
    color: rgb(250, 57, 57); 
    border-radius: 10px; 
    padding: 8px 12px; 
    border: none; 
    outline: none; 
    cursor: pointer; 
    float: right;
    margin: 5px;
    font-size: 16px;
}